body {
 background-image: url('C:/Users/KY221YU/OneDrive - EY/Documents/Personal/Svatba/template5.jpg'); /* Cesta k vaší fotografii */
  background-size: cover; /* Zajistí, že fotografie bude pokrývat celé pozadí */
  /*background-position: center; /* Nastaví pozici fotografie do středu */
  color: white; /* Bílá barva textu pro kontrast */
  text-align: center;

}

h1 {
  color: #333;
}

p {
  color: #666;
}

