body {
  background-image: url('template5.jpg'); /* make sure the path is correct */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Keeps the background fixed during scroll */
  color: black;
  margin: 0;
  padding-top: 20px; /* or adjust as needed for spacing at the top */
  text-align: center;
  min-height: 100vh; /* Ensures the body is at least the height of the viewport */
}
h1 {
  color: #333;
  text-align: left;
}
h2 {
  color: #333;
  text-align: left;
}

p {
  color: #666;
}

